---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const albums = await getCollection('albums')

export const prerender = true
---

<Layout title="kvibeshopcl | Stock K-Pop ✨">
  <main class="flex flex-col items-center w-full min-h-screen py-10 px-4 bg-white">
    
   
    <img 
      src="/logopng-pequeño.png" 
      alt="Logo kvibeshopcl" 
      class="logo-brand mb-6" 
    />

    <header class="text-center">
		
		<nav class="text-[10px] uppercase tracking-[0.3em] text-gray-400 mb-6">
          Inicio / K-Pop 
        </nav>
       
      
    </header>

  <section
    aria-label="Albums de K-pop con entrega inmediata"
    class="w-full"
  >
    <div class="px-6 mx-auto max-w-5xl">
      <div class="grid gap-12 grid-cols-3 place-items-center">
        {
          albums.map((album) => {
            const { id, data } = album
            const { title, img, price } = data

            return (
              <article class="flex flex-col items-center text-center group">
                <a
                  href={`/album/${id}`}
                  class="shrink-0 transition hover:scale-105 outline-none border-0"
                >
                  <img
                    transition:name={`img-${id}`}
                    class="mb-4 w-32 h-32 md:w-44 md:h-44 object-cover rounded shadow-md border-0"
                    src={`/${img}`}
                    alt={title}
                  />
                </a>

                <div>
                  <h2
                    transition:name={`title-${id}`}
                    class="mb-2 text-xl font-bold leading-tight text-purple-900 uppercase"
                  >
                    {title}
                  </h2>
                  <p class="text-2xl font-black text-purple-700 mb-3">
                    {price}
                  </p>
                </div>
              </article>
            )
          })
        }
      </div>
    </div>
  </section>
</main>

</Layout>
<style>
 .logo-brand {
    height: 85px;
    width: auto;
    border: 0;
    outline: none;
    user-select: none;
    pointer-events: none;
    transition: none!important; 
  }
</style>